<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory="build/phpunit-cache">
    <testsuites>
        <testsuite name="DC Hub">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>app</directory>
        </include>
        <exclude>
            <directory>app/Views</directory>
        </exclude>
    </source>

    <coverage>
        <report>
            <clover outputFile="build/coverage/clover.xml"/>
        </report>
    </coverage>
</phpunit>
